torch
torchvision
numpy
PyYAML
scipy
h5py
medpy
tqdm
tensorboardX
segmentation-models-pytorch
huggingface_hub<1.0
git+https://github.com/facebookresearch/segment-anything.git
streamlit
pillow>=11.3.0
